<section class="block container">
    <header class="block__header">
        <h2 class="block__heading">Heading</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. A, quasi.</p>
    </header>
</section>
<ul class="list list--tick">
    <li class="list__item">Item 1</li>
    <li class="list__item">Item 2</li>
    <li class="list__item">Item 3</li>
</ul>
<section class="block block--dark block--skewed-left">
    <div class="container">
        <h2 class="block__heading">Heading</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. A, quasi.</p>
    </div>
</section>