<section class="block container">
  <header class="block__header">
    <h2>Host On The Cloud To Keep Growing</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, reprehenderit.</p>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
     <span class="icon-container">
       <svg class="icon icon--primary">
           <use xlink:href="images/sprite.svg#easy"></use>
       </svg>
   </span>
   
   <h3 class="feature__heading">Super Esay To Use</h3>
   <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio fuga officia ab. Porro dignissimos excepturi rerum voluptates iure dolorum veritatis.</p>
   <a href="https://www.morosoft.org/" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source type="image/webp" srcset="images/easy.webp.webp 1x">
      
      <img class="feature__image" src="images/easy.webp.webp" alt="">
     </picture>
  </article>
</section>