<footer class="block block--dark footer">
    <div class="container grid footer__sections">
      <section class="collapsible collapsible--expanded footer__section">
        <header class="collapsible__header">
            <h2 class="collapsible__heading footer__heading">PRODUCTS</h2>
              <svg class="icon icon--secondary collapsible__chevron">
                  <use xlink:href="images/sprite.svg#chevron"></use>
              </svg>   
        </header>
        <div class="collapsible__content">
            <ul class="list">
              <li><a href="https://youtu.be/qz0aGYrrlhU">Website hosting</a></li>
              <li><a href="https://youtu.be/qz0aGYrrlhU">Free Automated Wordpress</a></li>
              <li><a href="https://youtu.be/qz0aGYrrlhU">Migration</a></li>
            </ul>
        </div>
      </section>
      <section class="collapsible footer__section">
        <header class="collapsible__header">
            <h2 class="collapsible__heading footer__heading">COMPANY</h2>
              <svg class="icon icon--secondary collapsible__chevron">
                  <use xlink:href="images/sprite.svg#chevron"></use>
              </svg>   
        </header>
        <div class="collapsible__content">
            <ul class="list">
              <li><a href="https://www.morosoft.org/"></a>About</li>
              <li><a href="https://www.morosoft.org/"></a>Affiliates</li>
              <li><a href="https://www.morosoft.org/"></a>Blogs</li>
            </ul>
        </div>
      </section>
      <section class="collapsible footer__section">
        <header class="collapsible__header">
            <h2 class="collapsible__heading footer__heading">SUPPORT</h2>
              <svg class="icon icon--secondary collapsible__chevron">
                  <use xlink:href="images/sprite.svg#chevron"></use>
              </svg>   
        </header>
        <div class="collapsible__content">
            <ul class="list">
              <li><a href="https://www.morosoft.org/">Contact</a></li>
              <li><a href="https://www.morosoft.org/">Knowledge Base</a></li>
              <li><a href="https://www.morosoft.org/">FAQs</a></li>
            </ul>
        </div>
      </section>
      <section class="footer__brand">
        <img src="images/logo.svg" alt="">
        <p class="footer__copyright">Copyright 2022 Ali Raza</p>
      </section>
    </div>
  
  </footer>