<nav class="nav collapsible">
    <a class="nav__brand" href="https://www.youtube.com/results?search_query=mosh"><img src="images/logo.svg" alt=""></a>
    <svg class="icon icon--white nav__toggler">
        <use xlink:href="images/sprite.svg#menu"></use>
    </svg>
    <ul class="list nav__list collapsible__content">
        <li class="nav__item"><a href="https://twitter.com/hussmv1?t=ooLATC8wKDk6lM6fzDpusg&s=08">Hosting</a></li>

        <li class="nav__item"><a href="https://twitter.com/hussmv1?t=ooLATC8wKDk6lM6fzDpusg&s=08">VPS</a></li>
        <li class="nav__item"><a href="https://twitter.com/hussmv1?t=ooLATC8wKDk6lM6fzDpusg&s=08">Domain</a></li>
        <li class="nav__item"><a href="https://twitter.com/hussmv1?t=ooLATC8wKDk6lM6fzDpusg&s=08">Pricing</a></li>
    </ul>
</nav>